.navBar{
    display: flex;
    justify-content: space-between;
}
.navMenu{
    width: 80%;
}
.navLogo{
    width: 80%;
}
.alignment-flex{
   display:flex ;
}
.buttonNav{
    
    border-radius: 4px;
    background-color: rgba(43, 45, 80, 0.6);
}
.buttonNav-2{
    color: #ffff;
    padding:7px 21px !important
}
.buttonNav-1{
    background-color: rgba(88, 66, 244, 0.6);
}
.buttonNav-1,.buttonNav-2{
    /* padding: 6px 24px !important; */
    color: #ffff !important;
}
.searchNav{
   
    border-radius: 50px !important;
}
.inputNav{
    width: 20rem;
}
.flex-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.avator{
    width: 32px !important;
    height: 32px !important;
}
.endIconNav{
    padding-left: 7px;
}
